.general {
  overflow: hidden;
  font-size: 2em;
  position: relative;
  @include transition;
}

.wrapper {
  width: 50%;
  max-width: 800px;
  background-color: rgba(255,255,255,0.3);
  margin: 0 auto;
  //overflow: hidden;
  position: relative;
}

.slides {
  width: 100%;
  margin: 0;
  padding: 0;
  background: none;
  @extend .clearfix;
  //height:100px;
}

.slide {
  position: relative;
  display: block;
  float: left;
  text-align: left;
  padding: $gutter;
  //width:100%;
  @extend .clearfix;
  opacity: 0;
  left: 0;
  @include transition(all,1600ms,ease);

  &.text-right {
    opacity: 1;
  }
}

.slide__0 {
  font-weight: bold;
}
.slide--hide {
  display: none;
}

.slide__text {
  float: left;
  clear: left;
  font-size: 1.4em;
  background-color: rgba(255,255,255,0.2);
}

.slide--is-active {
  opacity: 1;
}

.slide--showing {
  opacity: 1;
}
// Btn next / prev
.control_prev,
.control_next {
  position: absolute;
  top: 40%;
  z-index: 999;
  display: block;
  padding: 4% 3%;
  width: auto;
  height: auto;
  background: #2a2a2a;
  color: #fff;
  text-decoration: none;
  font-weight: 600;
  font-size: 18px;
  opacity: 0.8;
  cursor: pointer;
}

.control_prev:hover,
.control_next:hover {
  opacity: 1;
  -webkit-transition: all 0.2s ease;
}

.control_prev {
  border-radius: 0 2px 2px 0;
}

.control_next {
  right: 0;
  border-radius: 2px 0 0 2px;
}


//colors
.bg--1 {
  background-color: $c-1;
}
.bg--2 {
  background-color: $c-2;
}
.bg--3 {
  background-color: $c-3;
}
.bg--4 {
  background-color: $c-4;
}
.bg--5 {
  background-color: $c-5;
}
