// Variables
////////////////////////////////////////////////////////////////////////////////////////////////////////////////


$gutter:10px;
// COLORS
// ==================================================

$white         : white;
$black         : black;

$gray-base     : #000                !default;
$gray-darker   : lighten($gray-base, 13.5%)    !default; // #222
$gray-dark     : lighten($gray-base, 20%)      !default; // #333
$gray          : lighten($gray-base, 33.5%)    !default; // #555
$gray-light    : lighten($gray-base, 46.7%)    !default; // #777
$gray-lighter  : lighten($gray-base, 93.5%)    !default; // #eee


$c-text: $gray;


$c-1: rgba(3,148,160,0.1);
$c-2: rgba(255,143,65,0.2);
$c-3: rgba(115,32,47,0.3);
